html {
    /*
  background-color: black;
  background: #3D3D4B url('../assets/images/HTMLbackgroundSmaller.png') no-repeat center center;
  background-size: auto;
    */
    font-family: 'Architects Daughter', cursive;
}

#wrapper {
    width: 960px;
    margin: 0 auto;
}

#wrapper > header {
  width: 100%;
  height: 660px;
  margin: 0 auto;
  text-align: center;
}

header p {
    font-size: 20px;
    text-align: left;
    margin: 0;
    margin-bottom: 20px;
    padding-left: 20px;
}

section {
    width: 700px;
}

.headNav a {
  font-size: 18pt;
}

.headNav {
    display: inline;
}

.headNav a {
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: black;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.2em black;
}

a:hover {
  color: red;
}

a:after {
  color: black;
}

div.header {
  width: 100%;
}

.headWrapper {
  width: 700px;
  display: inline-block;
}

.title {
  height: 300px;
  padding-top: 30px;
}

.icon {
    margin: 0;
    height: 200px;
    float: right;
}

.logo {
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  height: 77px;
  text-shadow: 1px 1px 1px black, 0 0 1em black, 0 0 0.2em black;
  font-size: 32pt;
}

.logo p {
  padding: 0;
  margin: 0;
}

figure {
    width: 43%;
    margin: 20px;
    display: inline-block;
}

.art > figure > img {
    height: 275px;
    width: 100%;
    display: inline-block;
}

#poster {
    height: 434px;
}

.credits {
    padding: 0;
    margin: 0;
    width: 43%;
    text-align: center;
    display: inline-block;
}

.credits ul {
    padding: 0;
    margin: 0;
    list-style: none;
    color: black;
    font-family: 'Architects Daughter', cursive;
}

.credits ul a {
    list-style: none;
    color: black;
    font-family: 'Architects Daughter', cursive;
    text-shadow: 1px 1px 1px black, 0 0 0.5em black, 0 0 0.1em black;
}

.credits ul a:hover {
    color: red;
}

.credits ul a:after {
    color: black;
}

.socialMedia a {
  padding: 0 10px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px .75px black, 0 0 1em black, 0 0 0.2em black;
  cursor: pointer;
}

.socialMedia a:hover {
  color: red;
}

.socialMedia a:after {
  color: black;
}